@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<h3>A few more details about us</h3>
<img src="~/Images/logo.svg" />
<p>
    At LoanCalculators, we are trying to make loans and financing accessible to everyone <br />
    <b>not </b> just those who have fancy accounting degrees.
    <br /><br />
    Our calculators are made easy so that you can just enter numbers and find out what you need.<br />
    No math or TI-84s needed!
</p>